'use strict'

class {{name}} {
  // The handle method is required, and must either be async
  // or return a resolved promise, ie: 
  //    return Promise.resolve()
  async handle (job) {
    // PROCESS YOUR JOB HERE
    console.log('{{name}} job started')

    return
  }
}

module.exports = {{name}}

