'use strict'

class {{name}} {
  // This is where the work is done.
  handle (job) {
    console.log('{{name}} job started')
    return Promise.resolve();
  }
}

module.exports = {{name}}

